@{
}

<form method="post">
    <fieldset>
        <legend>Log in to Your Account</legend>
        <ol>
            <li class="email">
                <label for="email">Email address</label>
                <input type="text" id="email" name="email" value="" />
            </li>
            <li class="password">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" />
            </li>
        </ol>
        <input type="submit" id="login" value="Log in" />
    </fieldset>
</form>